@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,700;1,200;1,300&family=Bebas+Neue&display=swap');


@font-face {
   font-family: 'bignoodletitlingregular';
   src: url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
        url('../fonts/big_noodle_titling-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

:root {
   --menu-speed: 0.10s;
 }

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'bignoodletitlingregular','Barlow Condensed', sans-serif;
   font-size: 1.2rem;
}

body {
   background-image: url('../img/fullback-celular.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.menu-wrap {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1;
   animation: transitionIn 1.2s ease-in;
 }
 
 .menu-wrap .toggler-nav {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 2;
   cursor: pointer;
   width: 50px;
   height: 50px;
   opacity: 0;
 }
 
 .menu-wrap .toggler-artem {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

 .menu-wrap .hamburger {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 1;
   width: 80px;
   height: 80px;
   padding: 1rem;
   background: rgba(0, 0, 0 , 0.7);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 

 .menu-wrap .hamburger > div {
   position: relative;
   flex: none;
   width: 100%;
   height: 4px;
   border-radius: 3px;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.4s ease;
 }
 

 .menu-wrap .hamburger > div::before,
 .menu-wrap .hamburger > div::after {
   content: '';
   position: absolute;
   z-index: 1;
   top: -10px;
   width: 100%;
   height: 4px;
   border-radius: 3px;
   background: inherit;
 }
 

 .menu-wrap .hamburger > div::after {
   top: 10px;
 }
 

 .menu-wrap .toggler-nav:checked + .hamburger > div {
   transform: rotate(135deg);
 }
 

 .menu-wrap .toggler-nav:checked + .hamburger > div:before,
 .menu-wrap .toggler-nav:checked + .hamburger > div:after {
   top: 0;
   transform: rotate(90deg);
 }
 

 .menu-wrap .toggler-nav:checked:hover + .hamburger > div {
   transform: rotate(225deg);
 }
 
 
 .menu-wrap .toggler-nav:checked ~ .menu {
   visibility: visible;
 }
 
 .menu-wrap .toggler-nav:checked ~ .menu > div {
   transform: scale(2);
   transition-duration: var(--menu-speed);
 }
 
 .menu-wrap .toggler-nav:checked ~ .menu > div > div {
   opacity: 1;
   transition:  opacity 0.4s ease 0.17s;
 }
 
 .menu-wrap .menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .menu-wrap .menu > div {
   background: rgba(10, 10, 10, 0.7);
   width: 200vw;
   height: 200vw;
   display: flex;
   flex: none;
   align-items: center;
   justify-content: center;
   transform: translateX(10px) rotate(10deg) translateY(5px);
   transition: all 0.2s ease;
 }
 
 .menu-wrap .menu > div > div {
   text-align: center;
   max-width: 90vw;
   max-height: 100vh;
   opacity: 0;
   transition: opacity 0.2s ease;
 }
 
 .menu-wrap .menu > div > div > ul > li {
   list-style: none;
   color: #fff;
   font-size: 1.5rem;
   padding: 1rem;
 }
 
 .menu-wrap .menu > div > div > ul > li > a {
   color: inherit;
   text-decoration: none;
   transition: color 0.2s ease;
 }

@keyframes transitionIn {
   from {
    opacity: 0;
    transform: rotateX(-10deg);
   }
   to {
    opacity: 1;
    transform: rotateX(0);
   }
 }

 .menu-logo{
   display: none;
 }

 .menu-icons{
   display: none;
 }

 .landing-container {
   height: 600px;
}

.front-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;
  height: 40vh;
  animation: frontImageIn 1.2s ease-in;
}

@keyframes frontImageIn {
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
 }
 .artem-container {
  display: flex;
  flex-direction: column;
}

.institutional-info-container {
  background: rgba(255, 255, 255, 0.92);
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.institutional-info-colA {
  flex: 1;
  min-height: 100px;
  position: relative;
  text-align: center;
}

.artem-logo-institucional {
  height: auto;
  width: 300px;
  padding-top: 75px;
  padding-bottom: 40px;
}

.institutional-info-colB {
  flex: 1;
  min-height: 100px;
  position: relative;
  padding: 25px 25px 50px 25px;
  text-align: center;
}

.institutional-info-colC {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: 100px;
  padding-bottom: 75px;
  position: relative;
  text-align: center;
}

.directora {
  flex: 50%;
  padding: 10px 0;
}

.directora-img {
  border: 1px solid #363738;
  border-radius: 30px;
  height: 40px;
}

.vicedirectora {
  flex: 50%;
  padding: 10px 0;
}

.vicedirectora-img {
  border: 1px solid #363738;
  border-radius: 30px;
  height: 40px;
}

.sec-acad {
  flex: 50%;
  padding: 10px 0;
}

.sec-acad-img {
  border: 1px solid #363738;
  border-radius: 30px;
  height: 40px;
}

.sec-adm {
  flex: 50%;
  padding: 10px 0;
}

.sec-adm-img {
  border: 1px solid #363738;
  border-radius: 30px;
  height: 40px;
}

.institutional-info-img {
   width: 100%;
      /*
      height: 56vh;
      */
}

 .institutional-info {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
 }


 .institutional-info-colB > p {
   color: #363738;
   font-size: 1.7rem;
   margin-top: 2px;
}

.talleres {
  background: rgba(0, 0, 0, 0.2);
}

 .talleres-container {
   position: relative;
   margin-bottom: -5px;
}

 .background-talleres-img {
   max-width: 100%;
   height: 160vh;
}

 .talleres > h2 {
   color: white;
   font-size: 4rem;
   padding: 35px 0px 20px 0px;
   text-align: center;
   text-shadow: 3px 3px 3px black;
 }

 .talleres-flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
}

.talleres-flex .card {
   width: 100%;
   min-height: 150px;
   padding: 2rem 1rem;
   background: #fff;
   position: relative;
   display: flex;
   align-items: flex-end;
   box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
   transition: 0.5s ease-in-out;
}

.card-a-p {
   flex: 0 1 0;
}

.card-m {
  flex: 0 1 0;
}


.card-a-v {
  flex: 0 1 0;
}


.card-i {
  flex: 0 1 0;
}

.card-o {
  flex: 0 1 0;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.info {
  display: none;
}
.footer {
   background: rgba(255, 255, 255, 0.92);
   list-style: none;
   line-height: 40px;
   margin-top: 5px;
   min-height: 100px;
   padding: 20px 0px 0px 20px;
   position: relative;
   width: 100%
};

#footer h3 {
  font-size: 3rem !important;
  color: black;
  padding-bottom: 10px;
}

#footer ul {
  font-smooth: auto;
  list-style-type: none;
}

#footer li {
  color: #363738;;
}

.contact-info-container {
  flex: 3;
  padding-bottom: 15px;
}

.contact-info-container h3 {
  font-size: 3.5rem;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact-info-container li {
  font-size: 1.7rem;
  line-height: 50px;
}

.contact-info-phone {
  display: inline;
}

.icons-footer {
  display: flex;
}

.fb-icon {
  flex: 0 1 auto;
  padding-right: 15px;
}

.fb-icon-img {
  width: 40px;
}

.ig-icon {
  flex: 0 1 auto;
  padding-right: 15px;
}

.ig-icon-img {
  width: 40px;
}

.tw-icon {
  flex: 0 1 auto;
  padding-right: 15px;
}

.tw-icon-img {
  width: 40px;
}

.wp-icon {
  flex: 0 1 auto;
}

.wp-icon-img {
  width: 40px;
}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 2;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  font-size: 4rem;
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  overflow: auto;
  cursor: default;
  color: white;
}

.modal-dialog > * {
  padding: 1rem;
}


.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal h3 { 
  font-size: 2.5rem;
  margin-top: 1rem;
}

.modal p { 
  font-size: 1.8rem;
  margin-top: 1rem;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

.open-modal {
  z-index: 1;
  font-weight: bold;
  color: white;
  font-size: 3rem;
  height: 150px;
  width: 100%;
}